*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#06142D;

color:white;

}

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:#06142D;

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logo img{

width:55px;

}

.logo-text h2{

font-family:'Playfair Display',serif;

font-size:30px;

}

.logo-text span{

font-size:12px;

color:#D4AF37;

letter-spacing:2px;

}

.nav-links{

display:flex;

list-style:none;

gap:35px;

}

.nav-links a{

color:white;

text-decoration:none;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#D4AF37;

}

.apply-btn{

padding:12px 30px;

background:#D4AF37;

color:#06142D;

border-radius:50px;

text-decoration:none;

font-weight:600;

}
.hero-card{
    width:100%;
    max-width:600px;
}

.hero-image{
    width:100%;
    height:auto;
    display:block;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}
